$pattern$form =
    .van-cell
        border-radius 0px

    .linklike-input
        height 44px

        >.display-area
            display flex
            padding 0px 12px
            align-items center
            overflow-x auto
            white-space nowrap

    >.item-row
        display flex
        height 46px

        >.label
            display flex
            width 80px
            padding 0px 12px
            align-items center
            border-bottom 2px solid transparent
            background-color $black03
            color $black60
            font-size 12px

        >.content
            display flex
            width 0px
            flex-grow 1
            border-bottom 2px solid $black03

            >.van-field
                line-height 28px