@import _colorset

*
    box-sizing border-box
    font-size 14px
    font-family 'source han sans'
    // user-select none

    &::before
        box-sizing border-box

    &::after
        box-sizing border-box

body
    margin 0px

table
    border-spacing 0px
    border-collapse separate

th
    padding 0px
    font-weight normal
    text-align start

td
    padding 0px

