.VPDoc.has-aside
    >.container
        >.content
            padding-left 16px !important
            padding-right 16px !important
            >.content-container
                max-width initial !important
.VPDoc
    padding-right 0px !important